<div class="grid">
  <div class="col-12 sm:col-6">
    <mat-card>
      <mat-card-content>
        <span class="h3">{{ currentType === 1 ? 'Editar' : 'Crear' }}</span>
        <mat-divider class="mb-2"></mat-divider>
        <br>

        <form class="grid" [formGroup]="checkInForm" >
          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Nombre</mat-label>
            <input matInput type="text" required formControlName="name">
          </mat-form-field>

          <div class="row">
            <div class="col">
              <mat-form-field class="col-12 sm:col-6">
                <mat-label>Tipo de Documento</mat-label>
                <input type="text" matInput formControlName="nuip_type" placeholder="Tipo de Documento">
              </mat-form-field>
            </div>

            <div class="col">
              <mat-form-field class="col-12">
                <mat-label>Numero Documento</mat-label>
                <input type="number" matInput formControlName="nuip" placeholder="Numero de Documento">
              </mat-form-field>
            </div>
          </div>

          <mat-form-field class="col-12">
            <mat-label>Fecha de Nacimiento</mat-label>
            <input type="text" matInput formControlName="dateBirth" placeholder="Fecha de Nacimiento">
          </mat-form-field>

          <div class="row">
            <div class="col">
              <mat-form-field class="col-12">
                <mat-label>Ciudad</mat-label>
                <input type="text" matInput formControlName="city" placeholder="Ciudad">
              </mat-form-field>
            </div>

            <div class="col">
              <mat-form-field class="col-12">
                <mat-label>Direccion</mat-label>
                <input type="text" matInput formControlName="address" placeholder="Direccion">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <mat-form-field class="col-12">
                <mat-label>Telefono</mat-label>
                <input type="text" matInput formControlName="phone" placeholder="Telefono">
              </mat-form-field>
            </div>

            <div class="col">
              <mat-form-field class="col-12">
                <mat-label>EPS/URL</mat-label>
                <input type="text" matInput formControlName="health" placeholder="EPS/URL">
              </mat-form-field>
            </div>
          </div>

          <mat-form-field class="col-12">
            <mat-label>Correo</mat-label>
            <input type="text" matInput formControlName="email" placeholder="Correo">
          </mat-form-field>


          <!-- <mat-form-field class="col-12">
            <mat-label>Habitación</mat-label>
            <mat-select required formControlName="room">
              <mat-option *ngFor="let room of rooms" [value]="room.id"><label class="circle-label" [style.background-color]="room.color"></label>{{ room.desc}}</mat-option>
            </mat-select>
          </mat-form-field> -->
        </form>
      </mat-card-content>
      <br>
      <mat-divider></mat-divider>
      <mat-card-actions style="display:flex; justify-content: space-around;">

        <button mat-button mat-raised style="background-color: #DC3545;" (click)="onNoClick()">
          <mat-icon>cancel</mat-icon>
          Cancelar
        </button>

        <button *ngIf="currentType===1" mat-button mat-raised style="background-color: #0DCAF0" (click)="onEditCheckIn()">
          <mat-icon>edit</mat-icon>
          Editar
        </button>

        <button *ngIf="currentType===2" mat-button mat-raised style="background-color: #0DCAF0" (click)="onSubmit()">
          <mat-icon>save</mat-icon>
          Crear
        </button>

      </mat-card-actions>
    </mat-card>
  </div>
</div>
